.footer{
    background: #fff;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.5rem;
    margin-left:30px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: black;
    padding: 1rem 0;
    font-weight: bolder;

}

.footer .box-container .box i{
    color: orange;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.2rem;
    color: lightslategrey;
    padding: 1rem 0;
}
.footer .box-container .box a i{
    color: orange;
    padding-right: 0.5rem;
}
.footer .box-container .box a:hover i{
    padding-right: 1rem;
}
.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.2rem;
    color: lightslategrey;
    padding: 1rem 0;
}
.footer .box-container .box .share a{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    background-repeat: .5rem;
    font-size: 2rem;
    color: black;
    margin-left: 1rem;
    background: white;
    display: inline-flex;
}
.footer .box-container .box .share a:hover{
    background: orange;
    color : white;
}
.footer .box-container .box .share .email{
    margin: 5rem 0;
    padding: 3rem;
    background-repeat: .5rem;
    background: white;
    font-size: 1.6rem;
    color: black;
    text-transform: none;
    width: 100%;
}
.email::placeholder{
    outline: solid 1px black;
    border-radius: 2px;
}