*{
    font-size: 14px;
    font-weight: bolder;
    color: beige;
}
.cake{
    height: 400px;
}
.flower{
    height: 400px;
}
.rocher{
    height: 400px;
}
h3{
    color: beige;
    font-weight: bolder;
}