.mobileCode{
    width: 30% !important;
    margin-right: 1rem;
}

.rightMargin{
    margin-right: 1rem;
}

.changePassword h2{
    margin-bottom: 2rem;
}

.changePassword-form-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
    align-items: flex-end;
}

.changePassword-formItem{
    display: flex;
    width: 100%;
    align-items: baseline;
}

.changePassword-formItem i{
    color: #999999;
}

.changePassword-formItem-right{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    width: 100%;
}

.changePassword-formItem-right span{
    color: #999EB3;
}

.changePassword-formItem-right button{
    background-color: #009D43;
    margin-top: 2rem;
    width: 10%;
}

.changePassword-formItem-right-textInput{
    border: none; 
    border-bottom: 2px solid #E2E2E2;
    font-size: 1rem;
    padding: 0.5rem 0;
    width: 40%;
}

.changePassword-formItem-right-textInput:focus{
    outline: none !important;
    border-bottom: 2px solid #009d43;
}
