@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root{
    --red: #ff5a3c;
    --light-red: #f9edeb;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    
}
html{
    font-size: 62.5%;
    /* overflow: hidden; */
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
.header{
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    padding: 0.5rem 1%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    transition: all .2s linear;

}

.logo{
    font-size: 3rem;
    font-weight: bolder;
}
.Navbar{
    display: flex;
    justify-content: space-between;
    width: 80rem;
}
::placeholder{
    font-size: 15px;
 }
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1.5rem;
}

.header .icons a{
     height: 4.5rem;
     line-height: 4.5rem;
     width: 5rem;
     font-size: 2rem;
     margin-right: .5rem;
     border-radius: .5rem;
     color: var(--red);
     background: var(--light-red);
     text-align: center;
}
#menu-btn{
    display: none;
}

@media(max-width:1233px) {
    html{
        font-size: 50%;
        padding: 3rem;
    }
    
}
@media(max-width:1195px) {
    .header{
        padding: 3rem;
    }
    .Navbar{
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        background: black;
        padding: 1rem 0;
    }
    .d-block .w-100{
        width: 50%;
        height: 50%;
    }
}
@media(max-width:768px){
    #menu-bar{
        display: initial;
    }
    .Navbar{
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        background: black;
        padding: 1rem 0;
    }
    .d-block .w-100{
        width: 50%;
        height: 50%;
    }
}
@media(max-width:474px){
    #menu-bar{
        display: initial;
    }
    .Navbar{
        position: absolute;
        top: 50%;
        left: 0px;
        right: 0px;
        background: black;
        padding: 0 0;
    }
    .d-block .w-100{
        width: 50%;
        height: 50%;
    }
}
