.productDetails{
    display: flex;
    margin-top: 5rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.productDetails-left{
    padding: 1rem;
    display: flex;
}

.productDetails-left-imageContainer{
    display: flex;
    flex-direction: column;
}

.productDetails-left-imageContainer img{
    width: 5rem;
    margin: 0.5rem;
    margin-top: 0;
    cursor: pointer;
}

.productDetails-left .largeImage{
    width: 30rem;
    height: 36rem;
    object-fit: cover;
    cursor: pointer;
}

.productDetails-right{
    padding: 1rem;
}

.productDetails-right-title{
    font-size: 1.5rem;
    font-weight: 500;
    display: block;
}

.productDetails-right-priceContainer{
    display: flex;
    align-items: center;
    color: red;
    margin-bottom: 0.5rem;
}

.productDetails-right-priceContainer span{
    font-size: 3rem;
}


.productDetails-right-inputContainer{
    margin-bottom: 1.5rem;
}

.productDetails-right-inputContainer input{
    padding: 1rem;
    height: 3rem;
    width: 15rem;
    border-radius: 0.25rem;
    -webkit-transition: all ease-in-out .25s;
    -o-transition: all ease-in-out .25s;
    -moz-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;
    box-shadow: 0 0 10px #ff9212;
    border: 1px solid #ff9212;
    animation: focuses ease-in-out 1500ms infinite;
    
}

.productDetails-right-inputContainer input:focus{
    outline: none;
}

.productDetails-right-buttonContainer{
    margin-bottom: 1rem;
}
.productDetails-right-buttonContainer button{
    height: 3rem;
    width: 15rem;
    border-radius: 0.25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    color: #fff;
}

.productDetails-right-descriptionContainer p{
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 1px solid lightgray;
}

.productDetails-right-descriptionContainer li{
    font-size: 0.9rem;
}